body {
    font-size: 1vw;
}


#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#side {
    position: absolute;
    left: 1%;
    top: 1%;
    font-size: 2vh;
}

#main > div{
    background-color: blanchedalmond;    
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;

}

#main > div > div {
    margin: auto;
    display: flex;
    height: 50%; width: 50%;
    background-color: blue;
    color: white;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    
}

#main > div > div:hover {
    
    background-color: purple;
}

